.rtl,
.rtl .dropdown-menu {
    text-align: right;
}

.rtl .list-unstyled,
.rtl .navbar-nav {
    padding-right: 0;
}

.rtl .hdAlterLinksList li + li {
    margin-left: 0;
    margin-right: 10px;
}

.rtl .hdScheduleList li + li {
    margin-left: 0;
    margin-right: 10px;
}

.rtl .uecColBg:before {
    left: 0;
    right: 50%;
    margin-left: auto;
}

.rtl .list-unstyled {
    padding-right: 0;
}

.rtl .ml-3 {
    margin-left: 0 !important;
    margin-right: 16px !important;
}

.rtl .mr-3 {
    margin-right: 0 !important;
    margin-left: 16px !important;
}

.rtl .pl-4 {
    padding-right: 20px !important;
}

.rtl .mainNavigation .dropIcn:after {
    margin-left: 0;
    margin-right: 5px;
}

.rtl .dropdown-submenu .dropIcn:after {
    left: 10px;
    right: auto;
}

.rtl .hdLangDropdown .dropIcn:after {
    margin-left: 0;
    margin-right: 9px;
}

.rtl .meetQuote {
    border-width: 0 2px 0 0;
}

.rtl .ueTimeTag {
    right: 0;
    left: auto;
    flex-direction: row-reverse;
}

.rtl .ueScheduleList .icn {
    left: auto;
    right: 0;
}

.rtl .ueScheduleList > li {
    padding-left: 0;
    padding-right: 25px;
}

.rtl .npbTimeTag {
    right: 25px;
    left: auto;
}

.rtl .btnCr .bcIcn {
    display: inline-block;
}

.rtl .ml-2 {
    margin-left: 0 !important;
    margin-right: 10px !important;
}

.rtl .erLinksList > li > a {
    padding: 14px 15px 14px 30px;
}

.rtl .erLinksList > li > a:after {
    right: auto;
    left: 17px;
}

.rtl .ftSocialNetworks li {
    margin-left: 0;
    margin-right: 5px;
}

.rtl .btnPlayLink {
    padding: 3px 82px 3px 0;
}

.rtl .btnPlayLink .icnPlay {
    right: 0;
    left: auto;
}

.rtl .meetQuote cite {
    display: inline-block !important;
    position: relative;
}

.rtl .meetQuote cite:before {
    position: absolute;
    left: -8px;
}

.rtl .btnPlayLink .icnPlay {
    text-indent: -6px;
}

.rtl .hdDropdownList .desktopDropOnHover {
    left: auto;
    right: 100%;
}
.rtl .ml-13{
    margin-left: 0 !important;
    margin-right: 65px !important;
}
.rtl .hdSocialNetworks li{
    margin-left: 0px !important;
    margin-right: 8px !important;
}
.rtl .ml-2{
    margin-right: 10px !important;
    margin-left: 0px !important;
}
.rtl .pr-3{
    padding-left: 16px !important;
    padding-right: 0px !important;
}
.rtl .ml-3{
    margin-right: 16px !important;
    margin-left: 0 !important;
}
.rtl .wrap.text-left{
    text-align: right !important;
}
.rtl .mr-5{
    margin-right: 0 !important;
    margin-left: 25px !important;
}
.rtl .mapHolder .contactCard{
    margin-right: auto !important;
    margin-left: 0 !important;
}
.rtl .topNews > span::before{
    border-width: 16.5px 0 15.5px 14px;
    border-color: transparent transparent transparent #06163a;
    right: auto !important;
    left: 0;
}
.rtl .mr-2{
    margin-left: 10px !important;
    margin-right: 0 !important;
}
.rtl .bnrContHolder{
    margin-right: auto !important;
    margin-left: 0 !important;
}
.rtl .bnrSearchForm .btn{
    left: 0 !important;
    right: inherit;
}
.rtl .dcsColumn .icnWatermark{
    right: inherit;
    left: 46px !important;
}
.rtl .opbTabset .nav-item{
    margin-left: 10px !important;
    margin-right: 0 !important;
}
.rtl .opbTabset{
    padding-right: 0 !important;
}
.rtl .featureEvent .eventDate{
    margin-left: 0 !important;
    margin-right: 20px !important;
}
.rtl .featureEvent .eventPost{
    left: inherit;
    right: 0;
}
.rtl .bottomAfter::before{
    left: auto;
    right: inherit;
}
.rtl .galleryMasonary .isoContentHolder .isoCol .textIso{
    left: inherit;
    right: 30px;
}
.rtl .galleryMasonary .isoContentHolder .isoCol .textIso .title_1,
.rtl .galleryMasonary .isoContentHolder .isoCol .textIso .title_2{
    padding-left: 20px;
    padding-right: 0 !important;
}
.rtl .cdDocsList.cdDocAlt .icn{
    margin-right: 0 !important;
    margin-left: 5px !important;
}
.rtl .adrList .icn{
    margin-right: 0 !important;
    margin-left: 16px !important;
}
.rtl .ftsrLinksList a{
    padding-right: 16px !important;
    padding-left: 0 !important;
}
.rtl .ftsrLinksList a::before{
    left: inherit;
    right: 0;
}
.rtl .breadcrumb-item + .breadcrumb-item{
    padding-left: 0 !important;
    padding-right: 0.6rem !important;
}
.rtl .breadcrumb-item + .breadcrumb-item:before{
    padding-right: 0 !important;
    padding-left: 0.6rem !important;
}
.rtl .coDefaultList > li{
    padding-left: 0 !important;
    padding-right: 33px !important;
}
.rtl .coDefaultList > li::before{
    left: inherit;
    right: 2px;
}
.rtl .infigQuote{
    right: inherit;
    left: -15px;
}
.rtl .listDefault > li{
    padding-right: 20px !important;
    padding-left: 0 !important;
}
.rtl .listDefault > li:before{
    left: inherit;
    right: 2px;
}
.rtl .tmcbInfosList dt{
    float: right;
}
.rtl .tmcbDescriptionBox .icnWatermark{
    right: inherit;
    left: -100px;
}
.rtl .prgTopWrap .wrap.text-right{
    text-align: left !important;
}
.rtl .edupiInfosList .edupiilWrap::before{
    left: inherit;
    right: 3px;
}
.rtl .widgetArchiveList a{
    padding-right: 14px !important;
    padding-left: 0 !important;
}
.rtl .widgetArchiveList a::before{
    left: inherit;
    right: 0;
}
.rtl .proItemCol[data-featured-tag]::before{
    left: inherit;
    right: 10px;
}
.rtl .dsSortDropdown #dropdownMenuLink::after{
    right: inherit;
    left: 20px;
}
.rtl .quantity input{
    text-align: left !important;
}
.rtl .sdbWDescription .shpDefinaition dt{
    float: right !important;
}
.rtl .cartTable thead tr th:first-child{
    padding-right: 30px !important;
    padding-left: 0 !important;
}
.rtl .cartTable td.cart-item-details{
    padding: 20px 26px 20px 0 !important;
}
.rtl .cartTable .remove-item{
    left: 27px;
    right: inherit;
}
.rtl .coolSelectWrapper::before{
    left: 15px;
    right: inherit;
}
.rtl .pmSlctList{
    padding-right: 25px !important;
}
.rtl .pmSlctList .pmNotePop::before{
    right: 40px;
    left: inherit;
}
.rtl .progressBar .pbCountNumber{
    right: inherit;
    left: 0;
}
.rtl .scgTabList{
    padding: 0 !important;
}
.rtl .timelineList .imgHolder,
.rtl .timelineList > li:nth-child(2n) .tlDescriptionWrap{
    float: right !important;
}
.rtl .timelineList .tlDescriptionWrap,
.rtl .timelineList > li:nth-child(2n) .imgHolder{
    float: left !important;
}
.rtl .form-check-inline{
    margin-left: 0.75rem !important;
    margin-right: 0 !important;
}
.rtl .ctaccOpener > a::after{
    left: 15px;
    right: inherit;
}
.rtl #myTab .nav-item{
    margin-right: 0 !important;
    margin-left: 25px !important;
}
.rtl .mr-4{
    margin-left: 20px !important;
    margin-right: 0 !important;
}
.rtl .newsSingleWrap .dropCap{
    float: right !important;
    margin-left: 10px !important;
    margin-right: 0 !important;
}
.rtl .psMetaList .socialNetworks li{
    padding-left: 7px !important;
    padding-right: 0 !important;
}
.rtl .pnnPaginList li + li{
    text-align: left !important;
}
.rtl .proTagList li{
    margin-left: 25px !important;
    margin-right: 0 !important;
}
.rtl .contactInfoList .icn{
    left: inherit;
    right: 0;
}
.rtl .contactInfoList li{
    padding-right: 28px !important;
    padding-left: 0 !important;
}
.rtl .alignleft{
    float: right;
    margin: 0 0 4px 1.2em !important;
}
.rtl .echSlidervii,
.rtl .cityNewsSlider,
.rtl .testimonialSliderVii,
.rtl .quotesSlider,
.rtl .testimonialSlider,
.rtl .scgSpeakersSlider,
.rtl .arddColumnSlider{
    direction: ltr;
}
.rtl .vibrantAsideBlock .parallaxWindow{
    left: inherit;
    right: 0;
}
[dir="rtl"] .slick-slide{
    float: left;
}

@media (min-width: 576px) {
    .rtl .mr-sm-3 {
        margin-right: 0 !important;
        margin-left: 16px !important;
    }

    .rtl .ftpScheduleList li {
        padding-left: 0;
        padding-right: 27px;
    }
    .rtl .ftpScheduleList.ftpScheduleListvii li{
        padding-right: 0 !important;
    }

    .rtl .ftpScheduleList .icn {
        right: 0;
        left: auto;
    }
    .rtl .offset-sm-1{
        margin-right: 8.3333333333% !important;
        margin-left: 0 !important;
    }
    .rtl .mr-sm-2{
        margin-right: 0 !important;
        margin-left: 10px !important;
    }
    .rtl .bnrSearchForm .form-control{
        padding-right: 1.1875rem !important;
        padding-left: 70px !important;
    }
    .rtl  .mr-sm-5{
        margin-left: 25px !important;
        margin-right: 0 !important;
    }
    .rtl .reviewsList .alignleft{
        float: right !important;
        margin: 0 0 0 25px !important;
    }
    .rtl .clientQuote .profilePicWrap{
        left: inherit;
        right: 40px;
    }
    .rtl .clientQuote q::before{
        left: 0;
    }
}

@media (min-width: 768px) {
    .rtl .mainNavigation .nav-item + .nav-item {
        margin-left: 0;
        margin-right: 10px;
    }
    .rtl .pr-md-12 {
        padding-left: 60px !important;
    }
    .rtl .mr-md-2{
        margin-right: 0 !important;
        margin-left: 10px !important;
    }
    .rtl .topNews > span{
        margin-left: 17px !important;
        margin-right: 0 !important;
    }
    .rtl .pl-md-6{
        padding-right: 30px !important;
        padding-left: 0 !important;
    }
    .rtl .drItemRow .btnDownload{
        right: inherit;
        left: 28px;
    }
    .rtl .dsSortDropdown{
        margin-right: none !important;
        margin-left: 0 !important;
    }
    .rtl .text-md-left{
        text-align: right !important;
    }
    .rtl .scgTabList .nav-item + .nav-item, .rtl .scgTabList.nav-tabs .nav-item + .nav-item{
        margin-right: 37px !important;
        margin-left: 0 !important;
    }
    .rtl .ml-md-4{
        margin-right: 20px !important;
        margin-left: 0 !important;
    }
    .rtl .offset-md-2{
        margin-right: 16.6666666667% !important;
        margin-left: 0 !important;
    }
}

@media (min-width: 992px) {
    .rtl .hdAlterLinksList li + li {
        margin-right: 25px;
    }

    .rtl .ftcaNav li + li {
        margin-left: 0;
        margin-right: 28px;
    }

    .rtl .uecColBg:before {
        margin-right: 150px;
    }

    .rtl .pr-lg-20 {
        padding-left: 100px !important;
    }

    .rtl .pl-lg-5 {
        padding-left: 0 !important;
        padding-right: 25px !important;
    }

    .rtl .pr-lg-8 {
        padding-right: 0 !important;
        padding-left: 40px !important;
    }
    .rtl .pl-lg-2{
        padding-right: 10px !important;
        padding-left: 0px !important;
    }
    .rtl .pl-lg-8{
        padding-right: 40px !important;
        padding-left: 0 !important;
    }
    .rtl .offset-lg-2{
        margin-right: 16.6666666667% !important;
        margin-left: 0 !important;
    }
    .rtl .govAgencyServicesBlock .uecColBg::before{
        margin-left: 150px !important;
        margin-right: 0px !important;
    }
    .rtl .govAgencyServicesBlock .uecColBg::before{
        left: 50% !important;
        right: 0 !important;
    }
    .rtl .govServiceCol .icnWrap{
        left: 0 !important;
        right: 30px !important;
    }
    .rtl .pr-lg-10{
        padding-right: 0 !important;
        padding-left: 50px !important;
    }
    .rtl .text-lg-left{
        text-align: right !important;
    }
    .rtl .topNews > span{
        margin-left: 25px !important;
        margin-right: 0 !important;
    }
    .rtl .ml-lg-4{
        margin-right: 20px !important;
        margin-left: 0 !important;
    }
    .rtl  .pl-lg-10{
        padding-right: 50px !important;
        padding-left: 0 !important;
    }
    .rtl .ourPromiseBlock .videoWrap .btnPlayWrap{
        right: inherit;
        left: -55px;
    }
    .rtl .ml-lg-3{
        margin-right: 16px !important;
        margin-left: 0 !important;
    }
    .rtl .mr-lg-10{
        margin-right: 0 !important;
        margin-left: 50px !important;
    }
    .rtl .mr-lg-6{
        margin-right: 0 !important;
        margin-left: 30px !important;
    }
    .rtl .mr-lg-n5{
        margin-left: -25px !important;
        margin-right: 0 !important;
    }
    .rtl .ml-lg-n5{
        margin-right: -25px !important;
        margin-left: 0 !important;
    }
    .rtl .offset-lg-3{
        margin-right: 25% !important;
        margin-left: 0 !important;
    }
    .rtl .pl-lg-50{
        padding-right: 250px !important;
        padding-left: 0 !important;
    }
}

@media (min-width: 1230px) {
    .rtl .hdScheduleList li + li {
        margin-right: 20px;
    }

    .rtl .uecColBg:before {
        margin-right: 190px;
    }

    .rtl .ml-xl-6 {
        margin-left: 0 !important;
        margin-right: 30px !important;
    }

    .rtl .mr-xl-8 {
        margin-right: 0 !important;
        margin-left: 40px !important;
    }

    .rtl .mainNavigation .nav-item + .nav-item {
        margin-right: 20px;
    }

    .rtl .pr-xl-28 {
        padding-left: 140px !important;
    }

    .rtl .ml-xl-n1 {
        margin-left: 0 !important;
        margin-right: -5px !important;
    }
    .rtl .ml-xl-6{
        margin-left: 0 !important;
        margin-right: 30px !important;
    }
    .rtl .pl-xl-4{
        padding-left: 0 !important;
        padding-right: 20px !important;
    }
    .rtl .pl-xl-4{
        margin-left: 0 !important;
        margin-right: 20px !important;
    }
    .rtl .pr-xl-7{
        padding-left: 35px !important;
        padding-right: 0 !important;
    }
    .rtl .ml-xl-6{
        margin-right: 30px !important;
        margin-left: 0 !important;
    }
    .rtl .offset-xl-2{
        margin-right: 16.6666666667% !important;
        margin-left: 0 !important;
    }
    .rtl .govAgencyServicesBlock .uecColBg::before{
        margin-left: 190px !important;
        margin-right: 0px !important;
    }
    .rtl .topNews > span{
        margin-left: 34px !important;
        margin-right: 0 !important;
    }
    .rtl .pr-xl-16{
        padding-left: 80px !important;
        padding-right: 0 !important;
    }
    .rtl .pl-xl-9{
        padding-right: 45px !important;
        padding-left: 0 !important;
    }
    .rtl .pr-xl-14{
        padding-left: 70px !important;
        padding-right: 0 !important;
    }
    .rtl .pl-xl-14{
        padding-right: 70px !important;
        padding-left: 0 !important;
    }
    .rtl .pl-xl-17{
        padding-right: 85px !important;
        padding-left: 0 !important;
    }
    .rtl .pl-xl-10{
        padding-right: 50px !important;
        padding-left: 0 !important;
    }
    .rtl .pl-xl-15{
        padding-right: 75px !important;
        padding-left: 0 !important;
    }
    .rtl .pr-xl-15{
        padding-left: 75px !important;
        padding-right: 0 !important;
    }
    .rtl  .pr-xl-12{
        padding-left: 60px !important;
        padding-right: 0 !important;
    }
    .rtl .offset-xl-4{
        margin-right: 33.3333333333% !important;
        margin-left: 0 !important;
    }
    .rtl .offset-xl-3{
        margin-right: 25% !important;
        margin-left: 0 !important;
    }
    .rtl .mr-xl-n5{
        margin-left: -25px !important;
        margin-right: 0 !important;
    }
    .rtl .ml-xl-n5{
        margin-right: -25px !important;
        margin-left: 0 !important;
    }
}

@media (min-width: 1330px) {
    .rtl .hdScheduleList li + li {
        margin-right: 45px;
    }

    .rtl .uecColBg:before {
        margin-right: 210px;
    }

    .rtl .mr-xlwd-16 {
        margin-right: 0 !important;
        margin-left: 80px !important;
    }

    .rtl .pl-xlwd-11 {
        padding-left: 0 !important;
        padding-right: 55px !important;
    }

    .rtl .ml-xlwd-n7 {
        margin-left: 0 !important;
        margin-right: -35px !important;
    }
    .rtl .pr-xlwd-10{
        padding-right: 0 !important;
        padding-left: 50px !important;
    }
    .rtl .pl-xlwd-6{
        padding-right: 30px !important;
        padding-left: 0 !important;
    }
    .rtl .ml-xlwd-6{
        margin-left: 0 !important;
        margin-right: 30px !important;
    }
    .rtl .pr-xlwd-12{
        padding-left: 60px !important;
        padding-right: 0 !important;
    }
    .rtl .pr-xlwd-11{
        padding-left: 55px !important;
        padding-right: 0 !important;
    }
    .rtl .pl-xlwd-12{
        padding-right: 60px !important;
        padding-left: 0 !important;
    }
    .rtl .pr-xlwd-15{
        padding-left: 75px !important;
        padding-right: 0 !important;
    }
    .rtl .govAgencyServicesBlock .uecColBg::before{
        margin-left: 210px !important;
        margin-right: 0px !important;
    }
    .rtl .causesListWrap .ourCauseColumn .ocuDescripWrap p{
        padding-left: 50px !important;
        padding-right: 0 !important;
    }
    .rtl .arddColumnSlider .slick-arrow.slickPrev{
        left: inherit;
        right: -324px;
    }
    .rtl .arddColumnSlider .slick-arrow{
        left: inherit;
        right: -264px;
    }
}
